<p>product-list works!</p>

<div *ngFor="let product of products">
  {{ product }}
  <button (click)="addToBasket(product)">Dodaj do koszyka</button>
</div>

<hr />

<!-- dodaj button outputujacy event dla tablicy animals -->
<!-- wyloguj w konsoli w app.component nazwe kliknietego elementu -->

<div *ngFor="let animal of animals">
  {{ animal }}
</div>

<hr />

<div *ngFor="let veg of vegetables">
  <ng-container *ngIf="!(veg === 'Cebula')">
    {{ veg }}
  </ng-container>
</div>

<ng-container *ngFor="let price of prices">
  <div *ngIf="price < 3">{{ price }}</div>
</ng-container>

<div [ngStyle]="{ color: fontColor }">Ten tekst ma byc czerwony!</div>
